#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 16px;
  /* Espacio entre las columnas */
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 16px;  /* Espacio interno */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  overflow: hidden; /* Ocultar el contenido que sobresale */
  display: flex; /* Flexbox */
  flex-direction: column; /* Apilar elementos */
  justify-content: space-between; /* Espacio entre elementos */
}
.card h2 {
  font-size: 1.25rem; /* Tamaño del título */
  margin: 0 0 8px 0; /* Eliminar el margen inferior */
  max-height: 3em; 
  /* Limitar la altura del título */
  overflow: hidden; /* Ocultar el texto que sobresale */
  text-overflow: ellipsis; /* Mostrar puntos suspensivos */
  white-space: nowrap; /* No permitir saltos de línea */
}

.card img {
  max-width: 100%; /* Imagen no más ancha que el contenedor */
  height: auto; /* Imagen proporcional */
  margin-bottom: 8px; /* Espacio entre la imagen y el título */
  border-radius: 5px;
}



.card p {
  flex-grow: 1; /* Hacer que el párrafo ocupe el espacio restante */
  margin: 0 0 8px 0; /* Eliminar el margen inferior */
}

.card button {
  align-self: flex-end; /* Alinear el botón a la derecha */
  margin-top: auto; /* Empujar el botón hacia abajo */
  align-self: center; /*centrar el botón horizontal*/
  margin-bottom: 9px;
  width: 80%;
  
  
  
  
  


  
}
.read-the-docs {
  color: #888;
}
.Home {
  margin-left: 10px;
  margin-right: 10px;
}
.button-spacing {
  margin: 20px;
}
